@charset "utf-8";

header .social{
	margin: 0px 1%;
	width: 90%;
	float: left;
	padding:10px auto;
}

.soical .btn{
	font-size: 0.7em;
}

#buttons{
	margin-top: 10px;
}

#donor_btn{
	width: 50%;
	font-size: 0.8em;
}

section.donation{
	width: 70%;
	float: center;
	text-align: center;
	margin: auto auto;
	padding: auto auto;
}

footer{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

section.donation div{
	display: block;
	vertical-align: middle;
}

footer .container{
	width: 100%;
	margin: 0px 0px;
	padding: 0px 0px;
}




#fbtn{

	background-position: 10px 2px;
	background-size: 50px 40px;
	background-repeat: no-repeat;
	text-align: center;
	text-transform: uppercase;
	border-radius: 9px;
	border: solid #a23609 2px;
	top:10px;
	font-size: 0.9em;
	font-weight: bold;
	margin-right: 10%;
	width:99%;
}

#tbtn{

	background-position: 10px 2px;
	background-size: 50px 40px;
	background-repeat: no-repeat;
	text-align: center;
	text-transform: uppercase;
	border-radius: 9px;
	border: solid #a23609 2px;
	font-size: 0.9em;
	font-weight: bold;
	width: 99%;
}