{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Friends For Animal</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{{MEDIA_URL}}favicon.ico">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom-theme/jquery-ui-1.9.2.custom.css' %}"> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body>


<!-- MainPage Starts Here -->
<div class="row" id="mainPage">
  <div class="col-sm-1" style=""></div>


    <!-- MainPage Contents Start -->
    <div class="col-sm-10">
      
    
    <div class="mainPageBody" style="background-color: #3db80b99;">
      <!-- LogoHeader Start -->
      <div class="logoHeader" style="margin-bottom: 20px;">
        <div class="container-fluid">
          <div class="logoHeader-text">
            <a href="/">
              <div class="logoImages">
              <img src="{{ MEDIA_URL }}images/final_logo.png" width="50%">
            </a>
             
            </div>
            <ul class="text-right" style="list-style: none;">
            <li class="text-right" style=" margin-top: -10.8%">
              <a href="https://twitter.com/Friends4animal?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Friends4animal</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8" style="margin-left: -20%;"></script>
            </li>
            <li style="margin-top: 0%; margin-right: -20.5%;"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FFriendsforanimal%2F&width=400&layout=button&action=like&size=large&show_faces=true&share=true&height=65&appId" width="400" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></li>

            </ul>
          </div>
        </div>  
      </div>
      <!-- LogoHeader End -->
      <!-- Navigation Bar Start -->
      <div class="container-fluid" style="background-color: yellow;  margin-top: -20px;">
        <nav class="navbar navbar-toggleable-sm navbar-light bg-faded justify-content-between navbar-expand-lg">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
          
          <div class="collapse  navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav justify-content-between">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About FFA</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="{% url 'events' %}">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'medications' %}">PET Medication</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'volunteers' %}">Volunteer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'donations' %}">Donation</a>
              </li>
              
              <li class="nav-item">

                <a class="nav-link" href="{% url 'article-list' %}">Blogs</a>
              </li>
              <li>
                <a class="nav-link" href="{% url 'donors-list' %}">Donors List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact US</a>
              </li>
              
            </ul>
          </div>
        </nav>
      </div>
      <!-- Navigation Bar End -->
      {% block blogHeader %}
      <!-- New Container -->
      <div class="container-fluid" style="margin-top: 2%;">
        <div class="row">
          <!-- Col-md-9 -->
          <div class="col-sm-9">
            <img src="{{ MEDIA_URL }}images/poster_1.png" style="width: 100%;" width="100%;">
          </div>
          <!-- /Col-md-9 -->
          <div class="col-sm-3">
            <div class="card" style="margin-top: 2%; font-size-adjust: auto;">
              <div class="text-center">
                
                <big>FFA HELPLINES</big>
                <div class="centers-list" style="">
                  
                    <div class="card">
                      <div class="card-title">
                        <h5><strong>Kharagpur Center</strong></h5>
                      </div>
                      <div class="card-text">
                        Kharagpur<br>
                        West Bengal, 721302<br>
                        India
                      </div>
                    </div>
                 
                </div>
              </div>
            </div><!-- /Card -->
          </div>
          <!-- /col-md-3 -->
        </div>
      </div>
      <!-- /Container -->
      {% endblock %}
      <!-- Three Buttons Panel Start -->
      
      <div class="threeButtons container-fluid" style="margin-top: -5%;">
        <div class="row">
          {% block buttons %}
          <div class="col-sm-3"></div>
          <div class="col-sm-2">
            ​<a href="{% url 'medications' %}">
              <img class="image-circle" src="{{ MEDIA_URL }}images/medication.png" class="img-fluid img-thumbnail" alt="Adopt A PET" style="border-radius: 100%; margin: 5% 15%" width="80%">
            </a>
          </div>

          <div class="col-sm-2">
            ​<a href="{% url 'adoptions' %}">
              <img class="image-circle" src="{{ MEDIA_URL }}images/adoption_new.png" class="img-fluid img-thumbnail" alt="Adopt A PET" style="border-radius: 100%; margin: 5% 15%;" width="80%" >
            </a>
          </div>

          <div class="col-sm-2" id="thirdButton" style="margin-top: 30px;">
              <a href="{% url 'donations' %}">
              <img class="image-circle" src="{{ MEDIA_URL }}images/donation.png" class="img-fluid img-thumbnail" alt="Adopt A PET" style="border-radius: 100%; margin: 5% 15%;" width="80%" >
            </a>
          </div>
          <div class="col-sm-3"></div>
          {% endblock %}
        </div>
      </div>
      
      <!-- Three Buttons Panel End -->

      <!-- Extended Page Start -->
      {% block extendedPage %}

      {% endblock %}
      <!-- Extended Page End -->
    </div>
  <!-- MainPage Contents End -->

  <!-- Footer Start -->
  <div class="container-fluid" id="footer" style="background-color: grey; margin-top: 20px;">
    <div class="row">
      
      <div class="col-sm-2">
        <ul>
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'about' %}">About US</a>
          </li>
          <li>
            <a href="{% url 'events' %}">Events</a>
          </li>
        </ul>  
      </div>
      <div class="col-sm-3">
        <ul>
          <li>
            <a href="{% url 'medications' %}">PET Medication</a>
          </li>
          <li>
            <a href="{% url 'volunteers' %}">Volunteer</a>
          </li>
          <li>
            <a href="{% url 'contact' %}">Contact US</a>
          </li>
        </ul>  
      </div>

      <div class="col-sm-4" >
        <h5 style="margin-left: -30px; color : white;">&copy;Friends for Animal, India </h5>
        <p style="margin-left: -30px; color : white;">All copyrights are reserved</p>
      </div>

      <div class="col-sm-3" >
        <!-- Default dropup button -->
        <div class="btn-group dropup">
          <button type="button" class="btn btn-secondary">Chat With US?</button>
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu" style="margin-right: 50%;">
            <iframe
              width="350"
              height="430"
              src="https://console.dialogflow.com/api-client/demo/embedded/57640174-37d5-476e-b95b-744271bc5d2b">
          </iframe>
          </div>
        </div><!-- /Default Dropup button -->
      </div>



    </div>
  </div>
  <!-- Footer End -->
  

  <div class="col-md-1" style="">
    
  </div>

  
</div>
<!-- MainPage Ends Here -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<!-- Load Facebook SDK for JavaScript -->
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
