{% extends './base.html' %}

{% block extendedPage %}
<div class="homeContents" style="margin-top: 20px;">
	<div class="row">
		
		<div class="col-sm-2" style="margin-left: 1%; width: 80%; margin-bottom: 20px;">
			<div class="card">
			<div class="card-body">
				<h5 class="card-title"></h5>
				<p class="card-text"></p>
				
			</div>
			</div>
		</div>
		<div class="col-sm-8" style="margin-left: -1%; width: 80%; margin-bottom: 20px;">
			<div class="card">
			<div class="card-body">
				<div class="bigHead" style="background-color: yellow; padding: 10px 10px; margin: -20px -30px;">
					<h5 class="card-title">Events</h5>
					<hr>
				</div>
				<div class="eventsCotent" style="font-size: 1em; margin-top: 30px;">
				<p class="card-text">
					<div class="card">
						<div class="card-title">
							<h3>HELPING HAND</h3>
							<a href="">
								<img src="{{MEDIA_URL}}images/helping_hand.jpg" width="100%">
							</a>
						</div>
					</div><!-- /FIRST -->
					<div class="card" style="margin-top: 10%;">
						<div class="card-title">
							<h3>AWARENESS PROGRAM</h3>
							<a href="">
								<img src="{{MEDIA_URL}}images/awareness1.jpg" width="100%">
							</a>
						</div>
						
					</div><!-- /SECOND -->
					<div class="card" style="margin-top: 10%;">
						<div class="card-title">
							<h3>CAMPAIGN</h3>
							<a href="">
								<img src="{{MEDIA_URL}}images/campaign.jpg" width="100%">
							</a>
						</div>
						
					</div><!-- /tHIRD -->
				</p>
				</div>
			</div>
			</div>
		</div>
		<div class="col-sm-2" style="margin-left: -1%; width: 80%; margin-bottom: 20px;">
			<div class="card">
			<div class="card-body">
				
					<img src="http://www.idaindia.org/images/volunteer_header.gif" style="margin-left: -25px;" width="100%">
				<h5 class="card-title" style="font-size: .8em;">It's not just funds and homes that our dear animals need. You can contribute your time and energy to bring about a huge difference with us.</h5>
				<a class="card-text" href="{% url 'volunteers' %}">

					<button class="btn btn-block btn-warning" style="border-radius: 5px;">Signup Here</button>
				</a>
				
			</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}