{% extends './base.html' %}

{% block extendedPage %}
<div class="homeContents" style="margin-top: 20px;">
	<div class="row">

		<div class="col-sm-12" id="onlyButton">
			<div class="text-center" style="margin-bottom: 40px; margin-top: 1%; width: 50%; margin-left: 25%;">
				<a href="{% url 'donors-list' %}">
					<button class="btn btn-lg btn-danger btn-block text-center" style="font-size: 100%;">FRIENDS FOR ANIMAL DONORS</button>
				</a>
			</div>
		</div>
		
		<div class="col-sm-2" style="margin-left: 1%; width: 70%; margin-bottom: 20px;">
			<div class="card">
			<div class="card-body">
				<img src="http://www.idaindia.org/images/volunteer_header.gif" style="margin-left: -25px;" width="100%;">
				<h5 class="card-title" style="font-size: .8em;">It's not just funds and homes that our dear animals need. You can contribute your time and energy to bring about a difference.</h5>
				<a class="card-text" href="{% url 'volunteers' %}">

					<button class="btn btn-block btn-warning" style="border-radius: 5px;">Signup Here</button>
				</a>
			</div>
			</div>
		</div>
		<div class="col-sm-8" style="margin-left: -1%; width: 80%; margin-bottom: 20px;">
			<div class="card">
			<div class="card-body">
				<div class="bigHead" style="background-color: yellow; padding: 10px 10px; margin: -20px -35px;">
					<h4 class="card-title"><strong>Latest Events and Rescues</strong></h4>	
					<hr>
				</div>
			
				<div class="homeCotents" style="font-size: 1em; margin-top: 30px;">
					<p class="card-text">
						<script id="asp-embed-script" data-zindex="1000000" type="text/javascript" charset="utf-8" src="https://spark.adobe.com/page-embed.js"></script><a class="asp-embed-link" href="https://spark.adobe.com/page/l5ZOEXODAMOvr/" target="_blank"><img src="https://spark.adobe.com/page/l5ZOEXODAMOvr/embed.jpg?buster=1513936083899" alt="Adopting a pet for Christmas" style="width:100%" border="0" /></a>
						<!-- {% for article in object_list %}
						<div class="card" style="margin-top: 10px;">
							<div class="card-title">
								<strong><h4>{{ article.title }}</h4></strong> <small>posted by </small><a href="">{{ article.user.username }}</a> 
							</div>
							<p>{{ article.text|truncatechars:200}}<a href="{% url 'article-detail' article.pk %}">read more</a></p>
						</div>
						{% endfor %} -->
					</p>
				</div>
			</div>
			</div>
		</div>
		<div class="col-sm-2" style=" margin-left: -1%">
			<div class="card">
			<div class="card-body">
				<h5 class="card-title">Contents</h5>
				<p class="card-text">text</p>
			</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}